<body class="new">
<%= form_with(model: @flight,local: true, url: choose_new_or_edit) do |form| %>
  
  <% if @flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= @flight.errors.count %>件のエラーがあります。</h2>

      <ul>
      <% @flight.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    　<%= form.radio_button :status, 'draft' %>　下書き
  </div>

  <div class="form-group">
    　<%= form.radio_button :status, 'published' %>　公開
  </div>

  <div class="boarding-pass">
    <table class="boarding-pass2">
      <tr>
        <td>Airline<br>航空会社</td>
        <td><%= form.text_field :airline %></td>
      </tr>
      <tr class="new_seatclass">
        <td>Seat class<br>座席クラス</td>
        <td><%= form.text_field :seat_class %></td>
      </tr>
        <td></td>
      <tr>
        <td>From<br>出発空港</td>
        <td><%= form.text_field :departure_airport %></td>
      </tr>
      <tr>
        <td>To<br>到着空港</td>
        <td><%= form.text_field :arrival_airport %></td>
      </tr>
      <tr>
        <td>Flight<br>便名</td>
        <td><%= form.text_field :flight_number %></td>
      </tr>
      <tr>
        <td>Date<br>搭乗日</td>
        <td><%= form.date_field :departure_date %></td>
      </tr>
      <tr>
        <td>Seat<br>座席番号</td>
        <td><%= form.text_field :seat_number %></td>
      </tr>
      <tr>
        <td>Boarding time<br>搭乗時間</td>
        <td><%= form.datetime_select :actual_departure_time %></td>
      </tr>
    </table>
  </div>

  <div class="boarding-pass2">
    <table class = "show_flight">
      <tr>
        <td class = "show_flight_td"><%= image_tag('time.png', width: '20') %> 到着時間</td> 
        <td class = "show_flight_td"><%= form.datetime_select :actual_arrival_time %></td> 
        <td class = "show_flight_td"><%= image_tag('airplane2.png', width: '20') %> 機種</td> 
        <td><%= form.text_field :aircraft_type %></td>
      </tr>
      <tr>
        <td class = "show_flight_td"><%= image_tag('hourglass.png', width: '20') %> 飛行時間</td> 
        <td class = "show_flight_td2"><%= form.text_field :flight_hours %>時間&nbsp;<%= form.text_field :flight_minutes %>分</td>
        <td class = "show_flight_td"><%= image_tag('departure.png', width: '20') %> 飛行距離</td> <td><%= form.text_field :flight_mile %></td>
      </tr>
      <tr>
        <td class = "show_flight_td"><%= image_tag('en.png', width: '20') %> 運賃</td> <td><%= form.text_field :fare %></td> 
        <td class = "show_flight_td"><%= image_tag('seat.png', width: '20') %> 予約ｸﾗｽ</td> <td><%= form.text_field :booking_class %></td>
      </tr>
      <tr>
        <td class = "show_flight_td"><%= image_tag('airplane3.png', width: '20') %> 獲得ﾏｲﾙ</td> <td class = "show_flight_td"><%= form.text_field :getting_mile %></td> 
        <td class = "show_flight_td"><%= image_tag('p.png', width: '20') %> 獲得ﾎﾟｲﾝﾄ</td> <td><%= form.text_field :getting_point %></td>
      </tr>
    </table>

    <table class = "show_flight">
      <tr>
        <td class="review"><%= image_tag('note.png', width: '30') %>&nbsp; 感想<br><br>
          <%= form.text_field :review %></td>
      </tr>
      <tr>
        <td><%= image_tag('camera.png', width: '20') %>&nbsp;  <%= form.file_field :photo1 %>
          <P class='photo'><%= image_tag(@flight.photo1.url, width: '100%') if @flight.photo1 && @flight.photo1.url %>
          <%= form.hidden_field :photo1_cache %></td>
      </tr>
      <tr>
        <td><%= image_tag('camera.png', width: '20') %>&nbsp; <%= form.file_field :photo2 %>
          <%= image_tag(@flight.photo2.url, width: '100%') if @flight.photo2 && @flight.photo2.url %>
          <%= form.hidden_field :photo2_cache %></td>
      </tr>
      <tr>
        <td><%= image_tag('camera.png', width: '20') %>&nbsp; <%= form.file_field :photo3 %>
        <%= image_tag(@flight.photo3.url, width: '100%') if @flight.photo3 && @flight.photo3.url %>
        <%= form.hidden_field :photo3_cache %></td>
      </tr>
    </table>
  </div>
  
  <br>
  <p class="new_button"><%= form.submit "投稿する" %></p>
<% end %>
<br><br><br>
</body>