<h3>以下の内容で投稿する</h3>
<%= form_with(model: @flight, url: flights_path, local: true) do |form| %>
<%= form.hidden_field :departure_date %>
<%= form.hidden_field :airline %>
<%= form.hidden_field :flight_number %>
<%= form.hidden_field :aircraft_type %>
<%= form.hidden_field :seat_class %>
<%= form.hidden_field :seat_number %>
<%= form.hidden_field :departure_time %>
<%= form.hidden_field :arrival_airport %>
<%= form.hidden_field :arrival_estimated_time %>
<%= form.hidden_field :actual_arrival_time %>
<%= form.hidden_field :fligth_time %>
<%= form.hidden_field :flight_mile %>
<%= form.hidden_field :fare %>
<%= form.hidden_field :booking_class %>
<%= form.hidden_field :getting_mile %>
<%= form.hidden_field :getting_point %>
<%= form.hidden_field :review %>
<%= form.hidden_field :flight_photo1 %>
<%= form.hidden_field :fligth_photo2 %>
<%= form.hidden_field :flight_photo3 %>

<p>搭乗日 <%= @flight.departure_date %></p>
<p>航空会社 <%= @flight.airline %></p>
<p>便名 <%= @flight.flight_number %></p>
<p>機種 <%= @flight.aircraft_type %></p>
<p>座席クラス <%= @flight.seat_class %></p>
<p>座席番号 <%= @flight.seat_number %></p>
<p>出発空港 <%= @flight.departure_airport %></p>
<p>出発予定時刻 <%= @flight.departure_estimated_time %>
<p>出発時刻 <%= @flight.actual_departure_time %></p>
<p>到着空港 <%= @flight.arrival_airport %></p>
<p>到着予定時刻 <%= @flight.arrival_estimated_time %></p>
<p>到着時刻 <%= @flight.actual_arrival_time %></p>
<p>飛行時間 <%= @flight.flight_time %></p>
<p>飛行距離 <%= @flight.flight_mile %></p>
<p>運賃 <%= @flight.fare %></p>
<p>予約クラス <%= @flight.booking_class %></p>
<p>獲得マイル <%= @flight.getting_mile %></p>
<p>獲得ポイント <%= @flight.getting_point %></p>
<p>感想 <%= @flight.review %></p>
<p>写真１ <%= @flight.photo1 %></p>
<p>写真２ <%= @flight.photo2 %></p>
<p>写真３ <%= @flight.photo3 %></p>
<%= form.submit "投稿する" %>
<% end %>

<%= form_with(model: @flight, url: new_flight_path, local: true, method:'get') do |form| %>
<%= form.hidden_field :departure_date %>
<%= form.hidden_field :airline %>
<%= form.hidden_field :flight_number %>
<%= form.hidden_field :aircraft_type %>
<%= form.hidden_field :seat_class %>
<%= form.hidden_field :seat_number %>
<%= form.hidden_field :departure_time %>
<%= form.hidden_field :arrival_airport %>
<%= form.hidden_field :arrival_estimated_time %>
<%= form.hidden_field :actual_arrival_time %>
<%= form.hidden_field :fligth_time %>
<%= form.hidden_field :flight_mile %>
<%= form.hidden_field :fare %>
<%= form.hidden_field :booking_class %>
<%= form.hidden_field :getting_mile %>
<%= form.hidden_field :getting_point %>
<%= form.hidden_field :review %>
<%= form.hidden_field :flight_photo1 %>
<%= form.hidden_field :fligth_photo2 %>
<%= form.hidden_field :flight_photo3 %>
<%= form.submit "戻る", name: 'back' %>
<% end %>