<h1>フライトログ詳細</h1>

<div class = "flight">
搭乗日 <%= @flight.departure_date %>
</div>
<div class = "flight">
航空会社 <%= @flight.airline %>
</div>
<div class = "flight">
便名 <%= @flight.flight_number %>
</div>
<div class = "flight">
機種 <%= @flight.aircraft_type %>
</div>
<div class = "flight">
座席クラス <%= @flight.seat_class %>
</div>
<div class = "flight">
座席番号 <%= @flight.seat_number %>
</div>
<div class = "flight">
出発空港 <%= @flight.departure_airport %>
</div>
<div class = "flight">
出発予定時刻 <%= @flight.departure_estimated_time %>
</div>
<div class = "flight">
出発時刻 <%= @flight.actual_departure_time %>
</div>
<div class = "flight">
到着空港 <%= @flight.arrival_airport %>
</div>
<div class = "flight">
到着予定時刻 <%= @flight.arrival_estimated_time %>
</div>
<div class = "flight">
到着時刻 <%= @flight.actual_arrival_time %>
</div>
<div class = "flight">
飛行時間 <%= @flight.flight_time %>
</div>
<div class = "flight">
飛行距離 <%= @flight.flight_mile %>
</div>
<div class = "flight">
運賃 <%= @flight.fare %>
</div>
<div class = "flight">
予約クラス <%= @flight.booking_class %>
</div>
<div class = "flight">
獲得マイル <%= @flight.getting_mile %>
</div>
<div class = "flight">
獲得ポイント <%= @flight.getting_point %>
</div>
<div class = "flight">
感想 <%= @flight.review %>
</div>
<div class = "flight">
写真１ <%= @flight.photo1 %>
</div>
<div class = "flight">
写真２ <%= @flight.photo2 %>
</div>
<div class = "flight">
写真３ <%= @flight.photo3 %>
</div>
<div class = "flight">
総獲得マイル <%= @flight.total_getting_mile %>
</div>
<div class = "flight">
総獲得ポイント <%= @flight.total_getting_point %>
</div>