<h1>フライトログ詳細</h1>

<div class="boarding-pass">
  <div class = "airline">
    <%= @flight.airline %>
    <%= @flight.seat_class %>
  </div> 
  <hr>
  
  <div class ="qr">
    <%= image_tag('qr.jpg') %>
  </div>
  
  <div class="boarding-pass2">
    <div class="name">
      <%= @flight.user.name %>
      <br>
      <hr>
    </div>
    <br>
    <div class = "flight">
      <span class="title">Flight</span> 
      <span class="details"><%= @flight.flight_number %></span>&emsp; 
      <span class="title">From</span> 
      <span class="details"> <%= @flight.departure_airport %></span>&emsp;
      <span class="title">To</span> 
      <span class="details"> <%= @flight.arrival_airport %></span>&emsp;
      <span class="title">Date</span> 
      <span class="details"> <%= @flight.departure_date %></span><hr>
    </div>
    <table class = "flight2">
      <tr>
        <th class="title">Terminal&emsp; </th>
        <th class="title">Gate&emsp; </th> 
        <th class="title">Boarding time&emsp; </th>
        <th class="title">Seat&emsp; </th>
        <th class="title">Boarding Group&emsp; </th>
      </tr>
      <tr>
        <th></th>&emsp; 
        <th></th>&emsp; 
        <th class="details"><%= @flight.actual_departure_time.strftime("%Y-%m-%d %H:%M") %>&emsp; </th>
        <th class="details"><%= @flight.seat_number %>&emsp; </th>
        <th></th>&emsp;
      </tr>
    </table>
    <hr>
    <P>YOU ARE INVITED TO THE FLIGHT LOGBOOK</P>
    <p>GATE CLOSES 10 MINS BEFORE DEPARTURE</p>
  </div>
</div>

<div class = "flight">
到着時間 <%= @flight.actual_arrival_time.strftime("%Y-%m-%d %H:%M") %>
</div>
<div class = "flight">
飛行時間 <%= @flight.flight_time %>
</div>
<div class = "flight">
飛行距離 <%= @flight.flight_mile %>
</div>
<div class = "flight">
運賃 <%= @flight.fare %>
</div>
<div class = "flight">
予約クラス <%= @flight.booking_class %>
</div>
<div class = "flight">
獲得マイル <%= @flight.getting_mile %>
</div>
<div class = "flight">
獲得ポイント <%= @flight.getting_point %>
</div>
<div class = "flight">
感想 <%= @flight.review %>
</div>
<div class = "flight">
写真１ <%= image_tag(@flight.photo1.url) if @flight.photo1.present? %>
</div>
<div class = "flight">
写真２ <%= image_tag(@flight.photo2.url) if @flight.photo2.present? %>
</div>
<div class = "flight">
写真３ <%= image_tag(@flight.photo3.url) if @flight.photo3.present? %>
</div>
<div class = "flight">
総獲得マイル <%= @flight.total_getting_mile %>
</div>
<div class = "flight">
総獲得ポイント <%= @flight.total_getting_point %>
</div>

<h2>コメント</h2>
<% @comments.each do |comment| %>
<div class = "flight">
<hr>
ユーザー名:<%= comment.user.name %><br>
コメント:<%= comment.content %>
<% if current_user && current_user.id == comment.user.id %><br>
<%= link_to "削除", flight_comments_path(flight_id: @flight, id: comment.id),method: :delete ,data: { confirm: '本当に削除していいですか？' } %>
<% end %>
<% end %>
</div>

<hr>
<%= form_for([@flight, @comment]) do |f| %>
<%= f.text_field :content %>
<%= f.submit "コメントする" %>
<% end %>