<h1>ユーザー詳細</h1>

<hr>
<div class ="circle-icon">
	<p><%= image_tag @user.icon.to_s %></p>
</div>
<P><span>name: </span><%= @user.name %></P>
<p><span>email: </span><%= @user.email %></p>
<P><span>profile: </span><%= @user.profile %></P>
<p><span>総獲得マイル数: </span><%= @getting_miles %></p>
<hr>
