<h1>ユーザー詳細</h1>

<hr>
<div class ="circle-icon">
	<p><%= image_tag @user.icon.to_s %></p>
</div>
<P><span>name: </span><%= @user.name %></P>
<p><span>email: </span><%= @user.email %></p>
<P><span>profile: </span><%= @user.profile %></P>

<p><span>総獲得マイル数: </span><%= @total_getting_miles %></p>
<p><span>総獲得ポイント数: </span><%= @total_getting_points %></p>
<hr>

<h2>フライト一覧</h2>

<table>
	<tr>
	<th><%= sort_link(@q, :departure_airport, "出発空港") %></th>
	<th><%= sort_link(@q, :arrival_airport, "到着空港") %></th>
	<th><%= sort_link(@q, :airline, "航空会社") %></th>
	<th><%= sort_link(@q, :seat_class, "座席クラス") %></th>
	<th><%= sort_link(@q, :departure_date, "搭乗日") %></th>
	<th colspan="3"></th>
	</tr>
	
<% @flights.each do |flight| %>
<tr>
	<td><%= flight.departure_airport %></td>
	<td><%= flight.arrival_airport %></td>
	<td><%= flight.airline %></td>
	<td><%= flight.seat_class %></td>
	<td><%= flight.departure_date %></td>

	<td><%= link_to "詳細", flight_path(flight.id) %></td>
	<% if current_user && current_user.id == flight.user.id %>
		<td><%= link_to "編集", edit_flight_path(flight.id) %></td>
		<td><%= link_to "削除", flight_path(flight.id),method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
	<% end %>
</tr>
<% end %>
</table>